body { padding: 0; margin: 0}
#webgl-content {position: absolute; background: #000000 }
#webgl-content.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#webgl-content.unity-mobile { width: 100%; height: 100% }

#unityContainer {background-image: url('base-min.png'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat;}
.unity-mobile #unityContainer { width: 100%; height: 100% }

#back-button {
    position: fixed;
    left: 2%;
    top: 2%;

    background-image: url('back-min.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 80px;
    height: 80px;
}